*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;

}
.hero__section {
    background: url(/images/heroSectionBackground.png);
    background-color: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    height: 60px;
    padding:16px 48px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}
.navbar__menu_container {
    display: flex;
    gap: 20px;
}

.navbar__menu_container .user__icon{
    /* display: none; */
    height: 30px;
    width: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    border: white solid 1px;
    border-radius: 100%;
}
.hero__section__logo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 600px){
    .navbar__menu_container .user__icon{
        display: flex;
        
    }
    .link {
        display: none;
        
    }

}